- provide(:title, "About")

%h1= t('.about_title')

.about-copy
  %p
    Приложение CatForbes разработано в качестве курсовой работы для курса "Методики разработки Web-приложений".
    %p
    Оно предназначено для сбора оценок предпочтений пользователей.
    Здесь пользователи выступают в роли экспертов и на основе их мнения вычисляется средняя оценка.