- provide(:title, "Help")

%h1 Помощь
%h1
- if signed_in?
  %h3
    Уважаемый пользователь  #{@current_user.name.inspect} !
    Всегда рады помочь!
%h3
  Основные шаги для участия в опросе:
%p
  1. Регистрация в приложении. Это необходимо для получения доступа к сервису.
  %p
  2. Если Вы уже зарегистрированы, то Вы можете войти на сайт - кнопочка в верхнем правом углу "Войти".
  %p
  3. Выберете тему, по которой хотите оставить свои оценки. Выбрав тему из списка, Вы получаете доступ к изображениям.
  %p
  4. Оцените изображения, выбирая желаемое значение на шкале оценок.
  %p
  5. Слева отображается усредненная оценка всех экспертов, участвовавших в опросе по данному изображению на выбранную тему, а также общее количество всех оценок на сайте.

